body {
    margin: 0px;
    height: 100%;
    background-color: black;
}
img {
    display: block;
    -webkit-user-select: none;
    margin: auto;
    margin-top: 55px;
    user-select: none;
    cursor: zoom-in;
    background-color: white
}